$font-bold-xl: 800 28px Pretendard;
$font-bold-lg: 800 18px Pretendard;
$font-bold-md: 800 13px Pretendard;
$font-bold-md-s: 600 13px Pretendard;
$font-bold-sm: 600 11px Pretendard;
$font-body-md: 500 13px/1.6 Pretendard;
$font-body-sm: 500 11px/1.6 Pretendard;

$letter-spacing-bold: -0.06em;
$letter-spacing-body: -0.03em;

$color-white: #ffffff;
$color-gray-100: #eff2f2;
$color-gray-200: #e5e9e9;
$color-gray-300: #dce0e0;
$color-gray-400: #d5d5d5;
$color-gray-500: #c1c1c1;
$color-gray-600: #878787;
$color-gray-700: #535353;
$color-gray-800: #2a3648;
$color-gray-900: #1b232f;
$color-black: #10141a;
$color-black-40: #10141a66;
$color-primary-yellow-100: #fed15f;
$color-primary-yellow-200: #febe30;
$color-primary-yellow-300: #de9408;
$color-primary-orange-100: #fcb057;
$color-primary-orange-200: #ff9900;
$color-secondary-puple: #941387;
$color-secondary-navy: #074099;
$color-secondary-green: #0c5e72;

$breakpoints: 1120px;

$vw100: 100vw;
$vh100: 100vh;

$pointer: pointer;


