dialog {
	border: none;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

dialog.show {
	opacity: 1;
}

dialog::backdrop {
	background-color: rgba(16, 20, 26, 0.4);
}

.nav-left {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 0;
}

.nav-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 0;
}

#nav-bar {
	#nav-main {
		height: 56px;
		display: flex;
		align-items: center;
		padding: 8px 16px;

		& > div {
			margin: 0 12px;
			flex-shrink: 0;
		}

		#nav-logo {
			margin-left: 0;
		}

		#nav-shipping-address {
			.location-icon {
				width: 12px;
				height: 12px;
				filter: invert(77%) sepia(90%) saturate(0%) hue-rotate(189deg) brightness(93%) contrast(95%);
			}

			#shipping-address-label {
				height: 13px;
				display: flex;

				span {
					display: inline-block;
					width: 28px;
				}
			}

			.location-name {
				display: inline-block;
				width: 43px;
			}
		}

		#nav-search-bar {
			height: 40px;
			border-radius: 4px;
			text-align: center;
			flex-basis: 386px;
			flex-grow: 1;
			flex-shrink: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			input {
				height: 21px;
				margin: 0 12px;
				flex-grow: 1;
			}

			button {
				width: 40px;
				height: 40px;
				border-radius: 0 4px 4px 0;
			}

			img {
				width: 24px;
				height: 24px;
			}
		}

		#nav-login {
			display: flex;
			flex-direction: column;
			position: relative;

			.login-popover {
				width: 235px;
				height: 90px;
				padding: 16px;
				border-radius: 4px;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
				top: 45px;
				left: -160px;
				z-index: 10;

				button {
					display: flex;
					justify-content: center;
					margin: 0 auto 8px;
					padding: 9.5px 10px;

					width: 160px;
					height: 32px;

					background: linear-gradient(174.6deg, #ffffff 4.31%, #fed15f 50.01%, #febe30 95.71%);

					border: 1px solid var(--color-primary-yellow-300);
					border-radius: 4px;
				}
			}
		}

		#nav-mypage {
			display: flex;
			flex-direction: column;
		}

		#nav-cart {
			margin-right: 0;
			display: flex;
			align-items: center;

			.cart-icon {
				filter: invert(71%) sepia(30%) saturate(6011%) hue-rotate(359deg) brightness(101%) contrast(103%);
			}
		}
	}

	#nav-sub {
		height: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 16px;

		.nav-left {
			flex-basis: 387px;

			#side-bar-menu {
				display: flex;
				align-items: center;

				.hamburger-menu-icon {
					filter: invert(99%) sepia(9%) saturate(3%) hue-rotate(234deg) brightness(117%) contrast(100%);
				}
			}
		}

		.nav-right {
			flex-basis: 112px;
		}
	}
}
