@use "../config/component-reset.scss" as *;
@use "../config/design-system.scss" as *;

:host {
  width: inherit;
  position: absolute;
  top: 41px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: visibility 150ms 100ms, opacity 200ms 100ms linear;
}

.autocomplete-container {
  width: 100%;
  height: 100%;
  background-color: $color-white;

  .autocomplete-list {
    width: 100%;

    .autocomplete-item {
      width: 100%;

      a {
        width: 100%;
        height: 100%;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        color: $color-black;
        @include f-body-md;
        cursor: pointer;

        &:hover {
          background-color: $color-grey-100;
        }

        img {
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
      }
    }
  }
}
