.hero {
  width: 100%;
  height: 100%;
  position: relative;

  .slider {
    display: flex;
    height: 100%;
  }

  .slide {
    width: 100vw;
    height: 50vh;
    background-size: cover;
  }

  .slider-button {
    width: 24px;
    height: 40px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    top: 7vw;

    &.left {
      left: 6vw;
      background-image: url('/src/assets/symbols/LeftButton.svg');
    }

    &.right {
      right: 6vw;
      background-image: url('/src/assets/symbols/RightButton.svg');
    }
  }
}
