@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../abstracts/placeholders';

.modal-bg {
  @include modal-bg;
  width: $vw100;
  height: $vh100;
}

.modal {
  @include modal;
  position: absolute;
  top: 102%;
  right: 0;
  width: 235px;
  gap: 8px;
  button {
    @include pointer;
    @include font-bold-sm;
    width: 160px;
    height: 32px;
  }
  div > span:nth-child(2) {
    @include pointer;
    color: $color-secondary-navy;
    text-decoration: underline;
  }
  .modal-triangle {
    @include modal-triangle;
    top: -12%;
    right: 14.2%;
  }
}
/* todo 모달창 템플릿을 하나만 가지고 변형이 가능한지 고민하기 */
.modal-temp1 {
  @include modal;
  align-items: flex-end;
  position: absolute;
  white-space: normal;
  top: 102%;
  left: 0;
  width: 320px;
  gap: 8px;
  div {
    @include flex-row;
    gap: 8px;
  }
  button {
    @include pointer;
    @include font-bold-sm;
    width: fit-content;
    height: 32px;
  }
  .modal-triangle {
    @include modal-triangle;
    top: -10%;
    left: 5%;
  }
}

.modal-temp2 {
  @include modal;
  position: absolute;
  top: 102%;
  right: 0;
  width: 335px;
  gap: 8px;
  button {
    @include pointer;
    @include font-bold-sm;
    width: 160px;
    height: 32px;
  }
  div > span:nth-child(2) {
    @include pointer;
    color: $color-secondary-navy;
    text-decoration: underline;
  }
  @extend %expanded-modal;
  .modal-triangle {
    @include modal-triangle;
    top: -3%;
    right: 10%;
  }
}
