@use '../base';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal {
  filter: drop-shadow(var(--filter-modal-shadow));
}

.login-modal {
  animation: fadeIn 1s;
  @include base.modal(235px, 90px, 120%, -240%);

  &::before {
    @include base.tooltip(-8%, 85%);
  }

  span:last-child {
    color: var(--color-secondary-navy);
  }
}

.extended-login-modal {
  @include base.modal(335px, auto, 120%, -315%);
  padding: 16px;
  gap: 8px;

  &::before {
    @include base.tooltip(-3%, 75%);
  }

  .base {
    @include base.typography('bold-sm');
    align-self: stretch;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--color-gray-100);
    }

    span:last-child {
      color: var(--color-secondary-navy);
    }
  }

  .extra {
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
      width: 150px;
    }
    h3 {
      @include base.typography('bold-md');
      margin-bottom: 4px;
      height: 18px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4px;

      li {
        height: 18px;
      }
    }
  }
}

.shipping-modal {
  @include base.modal(320px, 126px, 120%, -15%);

  &::before {
    @include base.tooltip(-8%, 5%);
  }

  p {
    @include base.typography('body-sm');
    width: 288px;
  }

  div {
    @include base.typography('bold-sm');
    width: 288px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}

.login-btn {
  @include base.button(160px, 32px);
}

.continue-btn {
  @include base.button(39px, 32px);
}

.address-btn {
  @include base.button(58px, 32px);
}

.dim-layer {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
