#header {
  min-width: 1120px;
}

#navBar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 24px;
  min-width: 1120px;
  width: 100%;
  height: 56px;
  background: var(--black);
}

#bi {
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shippingAddress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 43px;
  height: 29px;

  .address__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 40px;
    height: 13px;

    .address__labelText {
      width: 28px;
      height: 13px;
      color: var(--gray400);
      @include BoldSM;
    }
  }

  .adddress__text {
    width: 43px;
    height: 16px;
    color: var(--white);
    @include BoldMD;
  }
}

#searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 12px;
  gap: 12px;
  min-width: 500px;
  height: 40px;
  background: var(--white);
  border-radius: 4px;

  .inputBar {
    width: 100%;
    height: 21px;
    color: var(--gray60);
    border: none;
    @include BoldMD;
  }

  .searchBar__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 40px;
    height: 40px;
    background-image: url("/src/assets/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: var(--primary-orange100);
    border-radius: 0px 4px 4px 0px;
  }
}

#nation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 35px;
  height: 16px;
  @include BoldMD;

  .nation__flag {
    width: 13px;
    height: 13px;
    color: var(--black);
  }

  .nation__text {
    width: 18px;
    height: 16px;
    color: var(--white);
  }
}

#login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 76px;
  height: 29px;

  .login__label {
    width: 76px;
    height: 13px;
    color: var(--gray400);
    @include BoldSM;
  }

  .login__text {
    width: 58px;
    height: 16px;
    color: var(--white);
    @include BoldMD;
  }
}

#mypage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 32px;
  height: 29px;

  .mypage__label {
    width: 19px;
    height: 13px;
    color: var(--gray400);
    @include BoldSM;
  }

  .mypage__text {
    width: 32px;
    height: 16px;
    color: var(--white);
    @include BoldMD;
  }
}

#cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 71px;
  height: 24px;

  .cart__symbol {
    width: 24px;
    height: 24px;
  }

  .cart__text {
    width: 43px;
    height: 16px;

    @include BoldMD;
    color: var(--white);
  }
}

// sub
#subNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  min-width: 1120px;
  height: 32px;
  background: var(--gray900);
}

#leftButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 387px;
  height: 32px;

  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 4px;

    .menu__text {
      color: var(--white);
      @include BoldMD;
    }
  }
}

#rightButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 0px;
  gap: 4px;

  width: 112px;
  height: 32px;

  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 4px;

    .menu__text {
      width: 112px;
      height: 16px;
      color: var(--white);
      @include BoldMD;
    }
  }
}

#backdrop {
  display: none;
  min-width: 1120px;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  position: absolute;
  top: 88px;
  left: 0;
  opacity: 0.4;
}
