#SearchBarLayer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 100%;
  min-width: 500px;
  left: 0px;
  top: 40px;
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 4px;

  .keywordList {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 4px;
    height: 37px;
    @include BodyMD;
  }

  .selected {
    background-color: var(--gray100);
  }
}
