@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Theme */
:root {
  /* font-family */
  $font-family: 'Pretendard';

  /* letter-spacing */
  $letter-spacing-lg: -0.06em;
  $letter-spacing-sm: -0.03em;

  /* color */
  $--color-white: #ffffff;
  $--color-gray-100: #eff2f2;
  $--color-gray-200: #e5e9e9;
  $--color-gray-300: #dce0e0;
  $--color-gray-400: #d5d5d5;
  $--color-gray-500: #c1c1c1;
  $--color-gray-600: #878787;
  $--color-gray-700: #535353;
  $--color-gray-800: #2a3648;
  $--color-gray-900: #1b232f;
  $--color-black: #10141a;
  $--color-black-40: rgba($black, 0.4);
  $--color-primary-yellow-100: #fed15f;
  $--color-primary-yellow-200: #febe30;
  $--color-primary-yellow-300: #de9408;
  $--color-primary-orange-100: #fcb057;
  $--color-primary-orange-200: #ff9900;
  $--color-secondary-purple: #941387;
  $--color-secondary-navy: #074099;
  $--color-secondary-green: #0c5e72;
}

/* Typography */
@mixin typography($type) {
  @if $type == 'bold-md' {
    font-family: $font-family;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: $letter-spacing-lg;
  } @else if $type == 'bold-sm' {
    font-family: $font-family;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: $letter-spacing-lg;
  } @else if $type == 'body-sm' {
    font-family: $font-family;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: $letter-spacing-sm;
  } @else {
    @error "Invalid typography type: #{$type}. Use 'bold-md', 'bold-sm', or 'body-sm'.";
  }
}
