<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Amazon.com. Spend less. Smile more.</title>
  </head>
  <body>
    <div id="root">
      <header class="navbar">
        <div class="main">
          <h1 class="logo">
            <a href="/">
              <img class="amazon-icon" src="../assets/images/BI.svg" alt="amazon logo icon" />
            </a>
          </h1>
          <div class="shipping">
            <div class="top">
              <img src="../assets/symbols/location.svg" alt="location icon" />
              <span class="label-text">배송처</span>
            </div>
            <span class="main-text">대한민국</span>
          </div>

          <form class="search-bar">
            <input type="search" class="input" placeholder="검색 Amazon" />
            <button type="submit" class="submit-btn"></button>
          </form>

          <div class="nation">
            <img src="../assets/images/flag.svg" alt="flag icon" />
            <span class="main-text">KO</span>
          </div>

          <div class="login">
            <span class="label-text">안녕하세요, 로그인</span>
            <span class="main-text">계정 및 목록</span>
            <dialog class="modal extended-login-modal" open="">
              <div class="base">
                <button class="login-btn">로그인</button>
                <div>
                  <span>기존 사용자가 아니십니까?</span>
                  <span><a href="/">여기에서 시작합니다.</a></span>
                </div>
              </div>
              <div class="extra">
                <div>
                  <h3>귀하의 목록</h3>
                  <ul>
                    <li>목록 생성</li>
                    <li>목록 또는 레지스트리 찾기</li>
                    <li>AmazonSmile 자선 품목 목록</li>
                  </ul>
                </div>
                <div>
                  <h3>계정</h3>
                  <ul>
                    <li>계정</li>
                    <li>주문</li>
                    <li>권장 사항</li>
                    <li>검색 기록</li>
                    <li>워치리스트</li>
                    <li>비디오 구매 및 대여</li>
                    <li>Kindle 언리미티드</li>
                    <li>콘텐츠 및 기기</li>
                    <li>항목 구독 및 저장</li>
                    <li>멤버십 및 구독</li>
                    <li>음악 라이브러리</li>
                  </ul>
                </div>
              </div>
            </dialog>
          </div>

          <div class="my-page">
            <span class="label-text">반품</span>
            <span class="main-text">& 주문</span>
          </div>

          <div class="cart">
            <img src="../assets/symbols/cart.svg" alt="cart icon" />
            <span class="main-text">장바구니</span>
          </div>
        </div>

        <div class="sub">
          <div class="left">
            <a class="menu" href=""><img src="../assets/symbols/menu.svg" alt="" /> 모두</a>
            <a class="menu" href="">오늘의 딜</a>
            <a class="menu" href="">고객 서비스</a>
            <a class="menu" href="">레지스트리</a>
            <a class="menu" href="">기프트 카드</a>
            <a class="menu" href="">판매</a>
          </div>
          <div class="right">
            <a class="menu" href="">지금 특가 상품 쇼핑하기</a>
          </div>
        </div>
      </header>

      <main></main>
    </div>

    <script></script>
  </body>
</html>
