.hero-section {
  width: 1280px;
  position: relative;
  overflow: hidden;
}

.hero-slider {
  display: flex;
  transition: transform 0.5s;
  li {
    width: 100%;
  }
  li > img {
    width: 1280px;
  }
}

.hero-btn {
  padding: 0px;
  width: 80px;
  height: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  top: 0px;
}

.hero-btn:hover {
    border-radius: 5px;
    border: 1px solid $color-black;
    box-shadow: 0 0 0 1px $color-white inset;
    cursor: pointer;
}

.prev {
  margin-left: 40px;
  left: 0px;
}

.next {
  margin-right: 40px;
  right: 0px;
}
