.dimmed {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black40;
    z-index: 1;
  }
}

.location-modal {
  @include modal(288px, 94px);
  @include typo('bodySM');
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  top: 48px;
  left: -15px;
  z-index: 100;
  animation: fadeIn 0.5s;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -12%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    margin-left: 60px;
    margin-top: -10px;
  }
}

.login-modal__small {
  @include modal(235px, 90px);
  @include typo('bodySM');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 48px;
  left: -160px;
  z-index: 100;
  animation: fadeIn 0.5s;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    margin-left: 70px;
    margin-top: -10px;
  }
  span {
    color: $color-black;
    margin-right: 3px;
  }
  a {
    color: $color-secondaryNavy;
  }
  a:hover,
  a:active {
    color: $color-primaryYellow300;
    text-decoration: underline;
  }
}

.login-modal__large {
  @include modal(303px, 333px);
  @include typo('bodySM');
  padding: 16px;
  display: flex;
  flex-direction: column;
  top: 48px;
  left: -197px;
  z-index: 100;
  animation: fadeIn 0.5s;
  .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: $color-black;
      margin-right: 3px;
    }
    a {
      color: $color-secondaryNavy;
    }
    a:hover,
    a:active {
      color: $color-primaryYellow300;
      text-decoration: underline;
    }
  }
  .account-section {
    margin-top: 7px;
    display: flex;
    > ul {
      margin-top: 8px;
      width: 150px;
    }
    span {
      @include typo('boldMD');
    }
    li {
      @include typo('bodySM');
      height: 17.6px;
      padding: 0px;
      margin-top: 4px;
      justify-content: start;
    }
    a {
      color: $color-black;
      text-decoration: none;
    }
    a:hover,
    a:active {
      color: $color-primaryYellow300;
      text-decoration: underline;
    }
    &::before {
      position: absolute;
      content: '';
      width: 303px;
      height: 1px;
      background-color: $color-gray100;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    margin-left: 60px;
    margin-top: -10px;
  }
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
