@use "../style/common";
@use "../modal/modal";

.login-modal {
  @include modal.modal;

  top: 100%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &::before {
    content: "";
    position: relative;
    top: -12px;
    left: calc(100% - 40px);

    border-bottom: 12px solid var(--white);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    background-color: transparent;
  }
}

.modal__login-button {
  @include common.Button;
  @include common.BoldSM;

  width: 160px;
  height: 32px;
  margin-bottom: 8px;
  cursor: pointer;
}

.modal__login-caption {
  @include common.BodySM;

  color: var(--black);
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.modal__nav {
  margin-top: 8px;
  padding: 8px 16px 16px 16px;
  border-top: 1px solid var(--gray100);

  display: flex;
  gap: 3px;
}

.modal__nav-left,
.modal__nav-right {
  width: 150px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal__nav-title {
  @include common.BoldMD;

  color: var(--black);
}

.modal__nav-text {
  @include common.BodySM;

  color: var(--black);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: var(--primary-orange200);
  }
}
