@import url("/src/style/css/reset.css");
#navigation-bar header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 24px;
  height: 56px;
  background: #10141a;
}
#navigation-bar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  height: 32px;
  background: #1b232f;
}
#navigation-bar .label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.06em;
  color: #d5d5d5;
}
#navigation-bar .content {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.06em;
  color: #ffffff;
}
#navigation-bar .search-bar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 40px;
  background: #ffffff;
  border-radius: 4px;
}
#navigation-bar .search-bar input {
  flex-grow: 1;
  padding-left: 12px;
}
#navigation-bar .search-bar input::-moz-placeholder {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #878787;
}
#navigation-bar .search-bar input::placeholder {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #878787;
}
#navigation-bar .search-bar button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 40px;
  height: 40px;
  /* PrimaryOrange100 */
  background: #fcb057;
  border-radius: 0px 4px 4px 0px;
}