/* base */ /* color */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
/* font */
/* components */
.login-btn {
  color: #10141a;
  width: 160px;
  height: 32px;
  background: linear-gradient(174.6deg, #ffffff 4.31%, #fed15f 50.01%, #febe30 95.71%);
  border: 1px solid #de9408;
  border-radius: 4px;
  padding: 0px;
  font-family: "Pretendard Variable";
  font-size: 11px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: -6;
  margin-bottom: 8px;
}

.continue-btn {
  color: #10141a;
  width: 39px;
  height: 32px;
  background: linear-gradient(174.6deg, #ffffff 4.31%, #fed15f 50.01%, #febe30 95.71%);
  border: 1px solid #de9408;
  border-radius: 4px;
  padding: 0px;
  font-family: "Pretendard Variable";
  font-size: 11px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: -6;
  margin-right: 8px;
}

.changeAddress-btn {
  color: #10141a;
  width: 58px;
  height: 32px;
  background: linear-gradient(174.6deg, #ffffff 4.31%, #fed15f 50.01%, #febe30 95.71%);
  border: 1px solid #de9408;
  border-radius: 4px;
  padding: 0px;
  font-family: "Pretendard Variable";
  font-size: 11px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: -6;
}

.hero-section {
  width: 1280px;
  position: relative;
  overflow: hidden;
}

.hero-slider {
  display: flex;
  transition: 0.5s;
}
.hero-slider li {
  width: 100%;
}
.hero-slider li > img {
  width: 1280px;
}

.hero-btn {
  padding: 0px;
  width: 80px;
  height: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  top: 0px;
}
.hero-btn > img {
  width: 24px;
  height: 40px;
}

.prev {
  margin-left: 40px;
  left: 0px;
}

.next {
  margin-right: 40px;
  right: 0px;
}

.nav-bar {
  min-width: 1120px;
  width: 100%;
  height: 88px;
  color: #ffffff;
}

.nav-main {
  font-family: "Pretendard Variable";
  font-size: 13px;
  font-weight: 800;
  line-height: auto;
  letter-spacing: -6;
  padding: 0px 8px 0px 16px;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #10141a;
}
.nav-main > div:hover,
.nav-main > div:focus,
.nav-main > div:active {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 0 1px #ffffff inset;
}
.nav-main__BI {
  width: 100px;
  height: 40px;
  margin-right: 8px;
}
.nav-main__location {
  position: relative;
  padding: 0px 8px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.nav-main__location > div {
  display: flex;
  align-items: center;
}
.nav-main__search {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 40px;
  margin: 0px 16px;
}
.nav-main__lang {
  padding: 0px 8px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.nav-main__login {
  padding: 0px 8px;
  position: relative;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-main__order {
  padding: 0px 8px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-main__cart {
  padding: 0px 8px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.nav-main__cart img {
  width: 24px;
  height: 24px;
}

.title-small {
  font-family: "Pretendard Variable";
  font-size: 11px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: -6;
  color: #d5d5d5;
  height: 13px;
  display: flex;
  align-items: center;
}

.title-large {
  line-height: 16px;
}

.location-icon {
  width: 12px;
  height: 12px;
}

.login-wrap {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-sub {
  padding: 0px 8px 0px 16px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b232f;
}

.nav-sub {
  font-family: "Pretendard Variable";
  font-size: 13px;
  font-weight: 800;
  line-height: auto;
  letter-spacing: -6;
  color: #ffffff;
}
.nav-sub div:hover,
.nav-sub li:hover,
.nav-sub div:focus,
.nav-sub li:focus,
.nav-sub div:active,
.nav-sub li:active {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 0 1px #ffffff inset;
}
.nav-sub__category {
  display: flex;
}
.nav-sub__event {
  padding: 8px;
  height: 16px;
}

.menu-category {
  height: 16px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.menu-category img {
  width: 16px;
  height: 16px;
}

.sub-link {
  display: flex;
  align-items: center;
}
.sub-link > li {
  font-family: "Pretendard Variable";
  font-size: 13px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -3;
  padding: 8px;
  height: 16px;
  display: flex;
  align-items: center;
}
.sub-link a,
.sub-link a:hover,
.sub-link a:active {
  color: #ffffff;
  text-decoration: none;
}

.dimmed {
  position: relative;
}
.dimmed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 20, 26, 0.4);
  z-index: 1;
}

.location-modal {
  z-index: 1;
  position: absolute;
  padding: 0px;
  width: 288px;
  height: 94px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Pretendard Variable";
  font-size: 11px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -3;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  top: 50px;
  left: -15px;
  z-index: 100;
  animation: fadeIn 0.5s;
}
.location-modal::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 10px;
  top: -10px;
  left: 14px;
}
.location-modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: -12%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: 60px;
  margin-top: -10px;
}

.login-modal__small {
  z-index: 1;
  position: absolute;
  padding: 0px;
  width: 235px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Pretendard Variable";
  font-size: 11px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px;
  left: -160px;
  z-index: 100;
  animation: fadeIn 0.5s;
}
.login-modal__small::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: 70px;
  margin-top: -10px;
}
.login-modal__small span {
  color: #10141a;
  margin-right: 3px;
}
.login-modal__small a {
  color: #074099;
}
.login-modal__small a:hover,
.login-modal__small a:active {
  color: #de9408;
  text-decoration: underline;
}

.login-modal__large {
  z-index: 1;
  position: absolute;
  padding: 0px;
  width: 303px;
  height: 333px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Pretendard Variable";
  font-size: 11px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -3;
  padding: 16px;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: -197px;
  z-index: 100;
  animation: fadeIn 0.5s;
}
.login-modal__large::before {
  content: "";
  position: absolute;
  width: 98px;
  height: 10px;
  top: -10px;
  left: 197px;
}
.login-modal__large .login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-modal__large .login-section span {
  color: #10141a;
  margin-right: 3px;
}
.login-modal__large .login-section a {
  color: #074099;
}
.login-modal__large .login-section a:hover,
.login-modal__large .login-section a:active {
  color: #de9408;
  text-decoration: underline;
}
.login-modal__large .account-section {
  margin-top: 7px;
  display: flex;
}
.login-modal__large .account-section > ul {
  margin-top: 8px;
  width: 150px;
}
.login-modal__large .account-section span {
  font-family: "Pretendard Variable";
  font-size: 13px;
  font-weight: 800;
  line-height: auto;
  letter-spacing: -6;
}
.login-modal__large .account-section li {
  font-family: "Pretendard Variable";
  font-size: 11px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -3;
  height: 17.6px;
  padding: 0px;
  margin-top: 4px;
  justify-content: start;
}
.login-modal__large .account-section a {
  color: #10141a;
  text-decoration: none;
}
.login-modal__large .account-section a:hover,
.login-modal__large .account-section a:active {
  color: #de9408;
  text-decoration: underline;
}
.login-modal__large .account-section::before {
  position: absolute;
  content: "";
  width: 303px;
  height: 1px;
  background-color: #eef2f2;
}
.login-modal__large::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: 60px;
  margin-top: -10px;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search-bar {
  flex-grow: 1;
  border-radius: 4px 0px 0px 4px;
  padding: 0px 0px 0px 12px;
  border: none;
}
.search-bar:focus {
  outline: none;
}
.search-bar::placeholder {
  font-family: "Pretendard Variable";
  font-size: 13px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -3;
  color: #878787;
}
.search-bar[type=text] {
  font-family: "Pretendard Variable";
  font-size: 13px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -3;
  color: #878787;
}

.search-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  border: none;
  background-color: #fcb057;
}
.search-btn img {
  width: 24px;
  height: 24px;
}

.search-info {
  font-family: "Pretendard Variable";
  font-size: 13px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -3;
  width: 100%;
  position: absolute;
  top: 40px;
  left: -1px;
  background-color: #ffffff;
  border: 1px solid #10141a;
  border-radius: 4px;
  z-index: 40;
}
.search-info li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.search-info li:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-info li:hover {
  background-color: #eef2f2;
}
.search-info__recent {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-info__recent a {
  color: #941387;
}
.search-info__recent > img {
  width: 16px;
  height: 16px;
}
.search-info__trending {
  padding: 8px 12px;
  display: flex;
  align-items: center;
}
.search-info__trending a {
  color: #10141a;
}
.search-info__trending > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/* pages */
.main {
  height: 100vh;
  min-width: 1120px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
