@font-face {
  font-family: Pretendard;
  src: url("/src/asset/font/Pretendard-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: Pretendard;
  src: url("/src/asset/font/Pretendard-Black.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: Pretendard;
  src: url("/src/asset/font/Pretendard-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Pretendard;
  src: url("/src/asset/font/Pretendard-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Pretendard;
  src: url("/src/asset/font/Pretendard-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Pretendard;
  src: url("/src/asset/font/Pretendard-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Pretendard;
  src: url("/src/asset/font/Pretendard-Thin.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Pretendard;
  src: url("/src/asset/font/Pretendard-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: Pretendard;
  src: url("/src/asset/font/Pretendard-ExtraLight.ttf") format("truetype");
  font-weight: 100;
}
:root {
  /* font */
  --font-bold-xl: 900 28px Pretendard;
  --font-bold-lg: 900 18px Pretendard;
  --font-bold-md: 800 13px Pretendard;
  --font-bold-sm: 600 11px Pretendard;
  --font-body-md: 500 13px/1.6 Pretendard;
  --font-body-sm: 500 11px/1.6 Pretendard;
  /* letter spacing */
  --letter-spacing-bold-md: -0.06em;
  --letter-spacing-bold-sm: -0.06em;
  --letter-spacing-body-md: -0.03em;
  --letter-spacing-body-sm: -0.03em;
  /* color */
  --color-white: #FFFFFF;
  --color-gray-100: #EFF2F2;
  --color-gray-200: #E5E9E9;
  --color-gray-300: #DCE0E0;
  --color-gray-400: #D5D5D5;
  --color-gray-500: #C1C1C1;
  --color-gray-600: #878787;
  --color-gray-700: #535353;
  --color-gray-800: #2A3648;
  --color-gray-900: #1B232F;
  --color-black: #10141A;
  --color-black-40: #10141A66;
  --color-primary-yellow-100: #FED15F;
  --color-primary-yellow-200: #FEBE30;
  --color-primary-yellow-300: #DE9408;
  --color-primary-orange-100: #FCB057;
  --color-primary-orange-200: #FF9900;
  --color-secondary-puple: #941387;
  --color-secondary-navy: #074099;
  --color-secondary-green: #0C5E72;
}