.side-bar {
  display: block;
  position: absolute;
  top: 0px;
  width: 320px;
  height: 1897px;
  z-index: 110;
  transform: translate(-332px);
  transition: transform 0.7s;
  // overflow: hidden;

  &__close-btn {
    position: absolute;
    z-index: 110;
    left: 328px;
    top: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__login {
    display: flex;
    padding: 16px 16px 16px 32px;
    width: 320px;
    height: 53px;
    cursor: pointer;
    align-items: center;
    gap: 8px;

    &--user-img {
      width: 18px;
      height: 18px;
      background-image: url('/assets/icons/user.svg');
      background-repeat: no-repeat;
    }
  }

  &__detail-container {
    width: 640px;
    display: flex;
    visibility: hidden;
    transform: translate(0px);
    transition: transform 0.7s;

    &.show {
      visibility: visible;
    }
  }

  &__detail {
    width: 320px;
    height: 100%;
  }

  .view-all {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 32px;
    gap: 8px;
    width: 320px;
    height: 40px;
    cursor: pointer;

    &__text {
      width: 47px;
      height: 21px;
    }

    &__btn {
      width: 24px;
      height: 24px;
      background-image: url('/assets/icons/chevron-down.svg');
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &__expanded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 100%;
    z-index: 150;
    visibility: hidden;

    button {
      @include BoldLG;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: 600px;
      cursor: pointer;
    }
  }
}

.category {
  border-bottom: 1px solid;
  border-bottom-color: var(--color-gray-100);

  &-main {
    padding: 16px 16px 16px 32px;
    width: 320px;
    height: 53px;
    @include BoldLG;
    cursor: pointer;
  }

  &-sub {
    display: flex;
    justify-content: center;
    padding: 8px 16px 8px 32px;
    gap: 8px;
    width: 320px;
    height: 40px;
    @include BodyMD;
    cursor: pointer;

    &__text {
      width: 240px;
      height: 21px;
    }

    &__btn {
      width: 24px;
      height: 24px;
      background-image: url('/assets/icons/chevron-right.svg');
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}

.sidebar__backdrop {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-40);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: 10;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
