@use "../../style/common";

.side-bar {
  position: fixed;
  top: 0;
  width: 320px;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.5s;
  z-index: 600;

  &__login {
    background-color: var(--black);
    color: var(--white);
    padding: 16px 16px 16px 32px;

    display: flex;
    align-items: center;
    gap: 8px;
  }

  &.show {
    transform: translate(0%);

    .side-bar__close-button {
      visibility: visible;
    }
  }

  &__login-text {
    @include common.bold-lg;
  }

  &__close-button {
    position: absolute;
    top: 12px;
    right: -30px;
    visibility: hidden;
    cursor: pointer;
  }

  &__menu-window {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__menu-container {
    height: 100vh;
    position: absolute;
    transition: transform 1s;

    display: flex;

    &.detail-view {
      transform: translateX(-50%);
    }
  }

  &__menu,
  &__menu-detail {
    width: 320px;
    background-color: white;
  }

  &__menu-title {
    @extend .side-bar__login;
    @extend .side-bar__login-text;

    background-color: var(--white);
    color: var(--black);
  }

  &__menu-item-text {
    @include common.body-md;
  }

  &__menu-item,
  &__view-all-button,
  &__hide-button {
    padding: 8px 16px 8px 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .chevron-icon {
      filter: invert(57%) sepia(21%) saturate(0%) hue-rotate(241deg) brightness(90%) contrast(88%);
    }

    &:hover {
      background-color: var(--gray100);

      .chevron-icon {
        filter: none;
      }
    }
  }

  &__menu-item:last-child,
  &__view-all-button,
  &__hide-button {
    border-bottom: 1px solid var(--gray100);
  }

  &__view-all-button,
  &__hide-button {
    gap: 8px;
    justify-content: flex-start;
  }

  &__view-all-button {
    .chevron-icon {
      transform: rotate(90deg);
    }
  }

  &__hide-button {
    .chevron-icon {
      transform: rotate(-90deg);
    }
  }

  &__hidden-menu-container {
    height: 0px;
    opacity: 0;
    transition: all 0.5s linear;
    overflow: hidden;

    &.show {
      height: 770px;
      opacity: 1;
      overflow: hidden;
    }
  }

  &__menu-detail-back {
    padding: 8px 16px 8px 32px;
    border-bottom: 1px solid var(--gray100);

    display: flex;
    align-items: center;
    gap: 8px;

    &-arrow-icon {
      filter: invert(57%) sepia(21%) saturate(0%) hue-rotate(241deg) brightness(90%) contrast(88%);
    }

    &-text {
      @include common.body-md;
    }

    &:hover {
      background-color: var(--gray100);
      cursor: pointer;

      &-arrow-icon {
        filter: none;
      }
    }
  }
}
