@mixin bodySM {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 160%;
  letter-spacing: -0.03em;
}

@mixin bodyMD {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: -0.03em;
}
@mixin boldSM {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.06em;
}
@mixin boldMD {
  font-family: $font-family;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.06em;
}
@mixin boldLG {
  font-family: $font-family;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
@mixin boldXL {
  font-family: $font-family;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}
