@use "../../config/design-system.scss" as *;

$signin-link-height: 53px;

:host {
  width: 320px;
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-white;
  z-index: $z-index-lvl-4;
  transform: translateX(-100%);
  transition: transform 250ms 100ms;

  .close-btn {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 8px;
    right: -32px;
    background: transparent;
    opacity: 0;
    cursor: pointer;
    transition: opacity 250ms 100ms;
  }
}

:host(.is-active) {
  transform: translateX(0);

  .close-btn {
    opacity: 1;
  }
}

.sidebar-container {
  width: 100%;
  height: 100%;

  .signin-link {
    width: 100%;
    height: $signin-link-height;
    padding-left: 33.5px;
    display: flex;
    align-items: center;
    gap: 9.5px;
    background-color: $color-black;
    color: $color-white;
    @include f-bold-lg;
  }

  .menu-container {
    width: 100%;
    height: calc(100vh - $signin-link-height);
    position: relative;
    overflow-x: hidden;
    color: $color-black;
  }
}
