// loginTooltip
#login__tooltip {
  padding-top: 15px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  min-width: 235px;
  left: -160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .login__tooltip__rectangle {
    position: absolute;
    left: 180px;
    top: 2px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid white;
  }

  .login__tooltip__box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 8px;
    min-width: 235px;
    min-height: 90px;
    background: #ffffff;
    border-radius: 4px;
  }
}

#login__tooltip.show {
  opacity: 1;
}

.box__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  width: 160px;
  height: 32px;
  background: linear-gradient(
    174.6deg,
    #ffffff 4.31%,
    #fed15f 50.01%,
    #febe30 95.71%
  );
  border: 1px solid var(--primary-yellow300);
  border-radius: 4px;
  @include BoldSM;
}

.box__caption {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 3px;
  width: 203px;
  height: 18px;
}

.box__text {
  width: 112px;
  height: 18px;
  color: var(--black);
  @include BoldSM;
}

.box__anchor {
  width: 88px;
  height: 18px;
  color: var(--secondary-navy);
  @include BoldSM;
}

// detailTooltip

.login__tooltip__detailBox {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 3px;

  width: 303px;
  height: 258px;
}

.detailBox__myList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 150px;
  height: 82px;
}

.detailBox__accountContentsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 150px;
  height: 258px;
}

.detailBox__list {
  width: 150px;
  height: 18px;

  @include BodySM;
}

// shippingAddress
