#banner 
	background-color: var(--color-black) 
	min-width: 1024px 
	.inner 
		padding: 8px 16px 
		display: flex 
		justify-content: space-between 
		gap: 24px 
	.logo 
		display: flex 
		align-items: center 
		justify-content: center 
	.shipping-address 
		display: flex 
		align-items: center 
		justify-content: center 
		dt 
			color: var(--color-gray-400) 
			font: var(--font-bold-sm) 
			letter-spacing: var(--letter-spacing-bold-sm) 
		dd 
			color: var(--color-white) 
			font: var(--font-bold-md) 
			letter-spacing: var(--letter-spacing-bold-md) 
	.search 
		flex-grow: 1 
		.search__form 
			display: flex 
			overflow: hidden 
			border-radius: 4px 
		.search__keyword-field 
			background-color: var(--color-white) 
			width: 100% 
			#keyword 
				padding: 12px 
				box-sizing: border-box 
				width: 100% 
				height: 100% 
				border: 0 
				font: var(--font-body-md) 
				letter-spacing: var(--letter-spacing-body-md) 
		[type="submit"] 
			padding: 12px 
			border: 0 
			font-size: 0 
			background-color: var(--color-primary-orange-100) 
	.nation 
		display: flex 
		align-items: center 
		justify-content: center 
		figure 
			display: flex 
			align-items: center 
			justify-content: center 
			gap: 4px 
			img 
				width: 24px 
				height: 24px 
			figcaption 
				color: var(--color-white) 
				font: var(--font-bold-md) 
	.login 
		display: flex 
		align-items: center 
		justify-content: center 
		a 
			text-decoration: none 
			color: white 
			font: var(--font-bold-md) 
	.mypage 
		display: flex 
		align-items: center 
		justify-content: center 
		a 
			text-decoration: none 
			color: white 
			font: var(--font-bold-md) 
	.cart 
		display: flex 
		align-items: center 
		justify-content: center 
		figure 
			display: flex 
			align-items: center 
			justify-content: center 
			gap: 4px 
			img 
				width: 24px 
				height: 24px 
			figcaption 
				color: var(--color-white) 
				font: var(--font-bold-md) 
#navbar 
	display: flex 
	align-items: center 
	justify-content: space-between 
	padding: 0 16px 
	background-color: var(--color-gray-900) 
	.navbar__list 
		display: flex 
	.navbar__item 
		padding: 8px 
		display: flex 
		align-items: center 
		justify-content: center 
		a 
			text-decoration: none 
			color: var(--color-white) 
			font: var(--font-bold-md) 
	.sidebar-trigger 
		background-color: transparent 
		border: none 
		color: white 
		padding: 0 
		gap: 6px 
		display: flex 
		align-items: center 
		justify-content: center 
		color: var(--color-white) 
		font: var(--font-bold-md) 
	.right 
		text-decoration: none 
		color: var(--color-white) 
		font: var(--font-bold-md) 
