@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

:root {
  --font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@mixin BoldXL {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}

@mixin BoldLG {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
@mixin BoldMD {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;

  letter-spacing: -0.06em;
}

@mixin NavMD {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

@mixin BoldSM {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.06em;
}
@mixin BodyMD {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;

  letter-spacing: -0.03em;
}
@mixin BodySM {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 160%;

  letter-spacing: -0.03em;
}

:root {
  --white: #ffffff;
  --gray100: #eff2f2;
  --gray100: #e5e9e9;
  --gray200: #dce0e0;
  --gray300: #d5d5d5;
  --gray400: #c1c1c1;
  --gray500: #878787;
  --gray700: #535353;
  --gray800: #2a3648;
  --gray900: #1b232f;
  --black: #10141a;
  --black40: rgba(16, 20, 26, 0.4);
  --primary-yellow100: #fed15f;
  --primary-yellow200: #febe30;
  --primary-yellow300: #de9408;
  --primary-orange100: #fcb057;
  --primary-orange200: #ff9900;
  --secondary-purple: #941387;
  --secondary-navy: #074099;
  --secondary-green: #0c5e72;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
