@import "variables", "mixin";

main {
  width: 100%;
  background-color: $color-gray-200;
  .main-content-container {
    height: 1430px;
    .main-banner-container {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      width: 1280px;
      height: 512px;
      margin: 0 auto;
      padding: 86px 80px 0 80px;
      background-image: url("../assets/png/main-banner.png");
      background-repeat: no-repeat;
      > div {
        margin-top: -20px;
      }
      .main-banner-text {
        text-align: center;
        @include boldXl;
      }
      .chevron {
        width: 24px;
        height: 40px;
      }
    }
    .main-card-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 1120px;
      height: 1200px;
      margin: 0 auto;
      transform: translateY(-300px);
      .card {
        width: 262px;
        margin-bottom: 24px;
        .frame {
          padding: 16px;
          background-color: $color-white;
        }
        span {
          display: block;
        }
        .login-button {
          width: 160px;
          height: 32px;
          margin: 0 auto;
          background: linear-gradient(
            174.6deg,
            $color-white 4.31%,
            $color-primary-yellow-100 50.01%,
            $color-primary-yellow-200 95.71%
          );
          border: 1px solid $color-primary-yellow-300;
          border-radius: 4px;
          @include boldSm;
        }
        .login-card-text {
          margin-top: 12px;
          @include boldMd;
        }
        .card-title {
          color: $color-black;
          @include boldLg;
        }
        .card-text {
          margin-top: 12px;
          color: $color-secondary-green;
          @include bodySm;
        }
      }
      #card1 {
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
