.dim {
  position: relative;
}

.dim::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black40);
  animation: fadein 0.7s;
  z-index: 3;
}

.hero-container {
  overflow: hidden;
}

.slider-container {
  width: 300vw;
  transition: transform 0.5s;
}

.inner {
  width: 100vw;
  float: left;

  img {
    width: 100%;
  }
}

.banner-left-btn,
.banner-right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.banner-left-btn {
  position: absolute;
  width: 24px;
  height: 40px;
  left: 80px;
  top: 174px;
  z-index: 100;
  background-image: url(/src/assets/img/left-btn.svg);
}

.banner-right-btn {
  position: absolute;
  width: 24px;
  height: 40px;
  right: 80px;
  top: 174px;
  z-index: 10;
  background-image: url(/src/assets/img/right-btn.svg);
}
