@import "variables";

@mixin boldXl {
  font: $font-bold-xl;
}

@mixin boldLg {
  font: $font-bold-lg;
}

@mixin boldMd {
  font: $font-bold-md;
  letter-spacing: $letter-spacing-body-md;
}

@mixin boldSm {
  font: $font-bold-sm;
  letter-spacing: $letter-spacing-bold-sm;
}

@mixin bodyMd {
  font: $font-body-md;
  letter-spacing: $letter-spacing-body-md;
}

@mixin bodySm {
  font: $font-body-sm;
  letter-spacing: $letter-spacing-body-sm;
}

@mixin loginButton {
  width: 160px;
  height: 32px;
  margin: 0 auto;
  background: linear-gradient(
    174.6deg,
    $color-white 4.31%,
    $color-primary-yellow-100 50.01%,
    $color-primary-yellow-200 95.71%
  );
  border: 1px solid $color-primary-yellow-300;
  border-radius: 4px;
  @include boldSm;
}

@mixin animtae($animation, $duration, $method) {
  animation: $animation, $duration, $method;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
