@import "common.scss";

.nav-bar {
  width: 1280px;
  height: 88px;

  color: var(--white);

  .nav-bar__main {
    display: flex;
    position: relative;
    align-items: center;

    width: 1280px;
    height: 56px;

    background-color: var(--black);

    .bi {
      width: 100px;
      height: 40px;
      margin-left: 16px;
      background-image: url(/src/assets/img/bi.svg);
      background-repeat: no-repeat;
    }
  }
  .nav-bar__sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 32px;
    background-color: var(--gray900);

    .left-buttons {
      display: flex;
      align-items: center;
      width: 387px;
      height: 32px;
      margin-left: 16px;
      @include NavMD;
    }

    .right-button {
      width: 112px;
      height: 32px;
      margin-right: 16px;
      @include BoldMD;
    }
  }
}

.address {
  width: 43px;
  height: 29px;
  margin-left: 24px;

  .address__label {
    display: flex;
    @include BoldSM;
    color: var(--gray400);
  }
  .address__label-image {
    width: 12px;
    height: 12px;
    background-image: url(/src/assets/img/address.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .address__text {
    @include BoldMD;
  }
}

.search-bar {
  display: flex;
  align-items: center;

  width: 747px;
  height: 40px;
  margin-left: 24px;

  background-color: var(--white);
  border-radius: 4px;
  overflow: hidden;

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 707px;
    height: 40px;
  }

  .search-bar__input {
    width: 683px;
    height: 21px;
  }

  .search-bar__button {
    width: 40px;
    height: 40px;
    background-color: var(--primary-orange100);

    background-image: url(/src/assets/img/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.nation {
  display: flex;
  justify-content: space-between;
  width: 35px;
  height: 16px;
  margin-left: 24px;
  @include BoldMD;

  .nation__emoji {
    width: 13px;
    height: 13px;
  }
  .nation__abb-text {
    width: 18px;
    height: 16px;
  }
}

.login {
  width: 76px;
  height: 29px;
  margin-left: 24px;

  .login__label {
    width: 76px;
    height: 13px;
    color: var(--gray400);
    @include BoldSM;
  }
  .login__text {
    width: 58px;
    height: 16px;
    @include BoldMD;
  }
}

.my-page {
  width: 32px;
  height: 29px;
  margin-left: 24px;

  .my-page__label {
    width: 19px;
    height: 13px;
    color: var(--gray400);
    @include BoldSM;
  }
  .my-page__text {
    width: 32px;
    height: 16px;
    @include BoldMD;
  }
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71px;
  height: 24px;
  margin-left: 24px;

  .cart__img {
    width: 24px;
    height: 24px;
    background-image: url(/src/assets/img/cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .cart__text {
    color: var(--white);
    @include BoldMD;
  }
}

.side-bar {
  display: flex;
  align-items: center;
  width: 58px;
  height: 32px;

  .side-bar__img {
    width: 16px;
    height: 16px;
    background-image: url(/src/assets/img/side-bar.svg);
  }
  .side-bar__label {
    width: 22px;
    height: 16px;
    margin-left: 6px;
    @include BoldMD;
  }
}

.left-buttons {
  .daily-deal,
  .customer-service,
  .registry,
  .gift-card,
  .sale {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .daily-deal {
    width: 65px;
    height: 32px;
    margin-left: 8px;
  }
  .customer-service {
    width: 76px;
    height: 32px;
    margin-left: 8px;
  }
  .registry {
    width: 73px;
    height: 32px;
    margin-left: 8px;
  }
  .gift-card {
    width: 76px;
    height: 32px;
    margin-left: 8px;
  }
  .sale {
    width: 39px;
    height: 32px;
    margin-left: 8px;
  }
}

.login-modal.show {
  display: flex;
}

.login-modal {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  width: 235px;
  height: 100px;
  top: 48px;
  margin-left: 873px;

  animation: fadein 1s;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .modal__rectangle {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 188.62px;
    top: -1px;
    background-image: url(/src/assets/img/rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 235px;
    height: 90px;
    border-radius: 4px;
    color: var(--black);
    background-color: var(--white);
  }
  .login-modal__button {
    width: 160px;
    height: 32px;
    margin-top: 16px;

    background-image: url(/src/assets/img/login-button.svg);
  }
  .login-modal__caption {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 203px;
    height: 18px;
    @include BodySM;

    .caption__text {
      width: 112px;
      height: 18px;
    }
    .caption__link {
      width: 88px;
      height: 18px;
      color: var(--secondary-navy);
    }
  }
}
// .login-modal.show {
//   display: none;
// }

.address-modal.show {
  display: flex;
}

.address-modal {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  width: 320px;
  height: 126px;
  top: 58px;
  margin-left: 131px;
  @include BodySM;

  animation: fadein 0.7s;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .modal__rectangle {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 10.82px;
    top: -10px;
    background-image: url(/src/assets/img/rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 126px;
    border-radius: 4px;
    color: var(--black);
    background-color: var(--white);
  }

  .caption__text {
    width: 288px;
    height: 36px;
    margin-top: 16px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 105px;
    height: 32px;
    margin-top: 26px;
    margin-left: 183px;
  }

  .continue {
    width: 39px;
    height: 32px;
    background-image: url(/src/assets/img/continue-btn.svg);
    background-size: 100%;
  }

  .address-change {
    width: 58px;
    height: 32px;
    background-image: url(/src/assets/img/change-btn.svg);
    background-size: 100%;
  }
}
