@import "common.scss";

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1120px;
  height: 88px;
  color: var(--white);

  .nav-bar__main {
    display: flex;
    position: relative;
    align-items: center;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    gap: 24px;

    background-color: var(--black);

    .bi {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  .nav-bar__sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    background-color: var(--gray900);

    .left-buttons {
      display: flex;
      align-items: center;
      width: 387px;
      height: 32px;
      margin-left: 16px;
      @include NavMD;
    }

    .right-button {
      width: 112px;
      height: 32px;
      margin-right: 16px;
      @include BoldMD;
    }
  }
}

.address {
  // width: 43px;
  height: 29px;

  .address__label {
    display: flex;
    @include BoldSM;
    color: var(--gray400);
  }
  .address__label-image {
    width: 12px;
    height: 12px;
    background-image: url(/src/assets/img/address.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .address__text {
    @include BoldMD;
  }
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;

  flex-grow: 1;
  height: 40px;

  background-color: var(--white);
  border-radius: 4px;
  overflow: hidden;

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 40px);
    height: 40px;
  }

  .search-bar__input {
    box-sizing: border-box;
    padding: 9.5px 12px;
    width: 100%;
    height: 21px;
  }

  .search-bar__button {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}

.nation {
  display: flex;
  justify-content: space-between;
  width: 35px;
  height: 16px;

  @include BoldMD;

  .nation__emoji {
    width: 13px;
    height: 13px;
  }
  .nation__abb-text {
    width: 18px;
    height: 16px;
  }
}

.login {
  position: relative;
  width: 76px;
  height: 29px;

  .login__label {
    width: 76px;
    height: 13px;
    color: var(--gray400);
    @include BoldSM;
  }
  .login__text {
    width: 58px;
    height: 16px;
    @include BoldMD;
  }
}

.my-page {
  width: 32px;
  height: 29px;

  .my-page__label {
    width: 19px;
    height: 13px;
    color: var(--gray400);
    @include BoldSM;
  }
  .my-page__text {
    width: 32px;
    height: 16px;
    @include BoldMD;
  }
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71px;
  height: 24px;
  cursor: pointer;

  .cart__img {
    width: 24px;
    height: 24px;
    background-image: url(/src/assets/img/cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .cart__text {
    color: var(--white);
    @include BoldMD;
  }
}

.side-bar {
  display: flex;
  align-items: center;
  width: 58px;
  height: 32px;

  .side-bar__img {
    width: 16px;
    height: 16px;
    background-image: url(/src/assets/img/side-bar.svg);
  }
  .side-bar__label {
    width: 22px;
    height: 16px;
    margin-left: 6px;
    @include BoldMD;
  }
}

.left-buttons {
  .daily-deal,
  .customer-service,
  .registry,
  .gift-card,
  .sale {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .daily-deal {
    width: 65px;
    height: 32px;
    margin-left: 8px;
  }
  .customer-service {
    width: 76px;
    height: 32px;
    margin-left: 8px;
  }
  .registry {
    width: 73px;
    height: 32px;
    margin-left: 8px;
  }
  .gift-card {
    width: 76px;
    height: 32px;
    margin-left: 8px;
  }
  .sale {
    width: 39px;
    height: 32px;
    margin-left: 8px;
  }
}

.login-modal.show {
  display: flex;
}

.login-modal {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  width: 235px;
  height: 100px;
  right: 4px;
  top: 36px;
  z-index: 10;
  animation: fadein 1s;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .modal__rectangle {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 188.62px;
    top: -1px;
    background-image: url(/src/assets/img/rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 235px;
    height: 90px;
    border-radius: 4px;
    color: var(--black);
    background-color: var(--white);
  }
  .login-modal__button {
    width: 160px;
    height: 32px;
    margin-top: 16px;
    cursor: pointer;
    background-image: url(/src/assets/img/login-button.svg);
  }
  .login-modal__caption {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 203px;
    height: 18px;
    @include BodySM;

    .caption__text {
      width: 112px;
      height: 18px;
    }
    .caption__link {
      width: 88px;
      height: 18px;
      color: var(--secondary-navy);
      cursor: pointer;
    }
  }
}

.address-modal.show {
  display: flex;
}

.address-modal {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  width: 320px;
  height: 126px;
  top: 58px;
  margin-left: 131px;
  z-index: 10;
  @include BodySM;

  animation: fadein 0.7s;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .modal__rectangle {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 10.82px;
    top: -10px;
    background-image: url(/src/assets/img/rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 126px;
    border-radius: 4px;
    color: var(--black);
    background-color: var(--white);
  }

  .caption__text {
    width: 288px;
    height: 36px;
    margin-top: 16px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 105px;
    height: 32px;
    margin-top: 26px;
    margin-left: 183px;
  }

  .continue {
    width: 39px;
    height: 32px;
    background-image: url(/src/assets/img/continue-btn.svg);
    background-size: 100%;
    cursor: pointer;
  }

  .address-change {
    width: 58px;
    height: 32px;
    background-image: url(/src/assets/img/change-btn.svg);
    background-size: 100%;
    cursor: pointer;
  }
}

.hero {
  width: 1120px;
  background-color: azure;
}

.hero.dim {
  position: relative;
}

.hero.dim::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black40);
  animation: fadein 2s;
  z-index: 1;
}

//----------------------------------

.login-modal-ex.show {
  display: flex;
}

.login-modal-ex {
  position: absolute;
  display: none;
  justify-content: flex-end;

  width: 335px;
  height: 375px;
  right: 4px;
  top: 46px;
  margin-left: 131px;
  z-index: 15;
  animation: fadein 1s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .modal-ex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 335px;
    height: 365px;
    border-radius: 4px;
    background-color: var(--white);
  }
  .modal-ex__rectangle {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 289px;
    top: -11px;
    background-image: url(/src/assets/img/rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .login-modal-ex__button {
    width: 160px;
    height: 32px;
    cursor: pointer;
    background-image: url(/src/assets/img/login-button.svg);
  }

  .list-wrapper {
    display: grid;
    gap: 4px;
    width: 150px;
    height: 82px;
    & li:first-child {
      @include BoldMD;
    }
  }
  .user-info {
    display: grid;
    gap: 4px;
    width: 150px;
    height: 258px;
    & li:first-child {
      @include BoldMD;
    }
  }
  .login-modal-ex__caption {
    display: flex;
    justify-content: space-between;
    width: 203px;
    height: 18px;
    gap: 3px;
    @include BodySM;

    .ex-caption__text {
      width: 112px;
      height: 18px;
      color: var(--black);
    }
    .ex-caption__link {
      width: 88px;
      height: 18px;
      color: var(--secondary-navy);
      cursor: pointer;
    }
  }

  .modal-ex-content__bottom {
    display: flex;
    justify-content: space-between;
    width: 303px;
    height: 258px;
    gap: 3px;
    color: var(--black);
    @include BodySM;
  }
}
