@import "variables", "mixin";

.search-layer {
  position: absolute;
  top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border: 1px solid $color-black;
  border-radius: 4px;
  z-index: 3;

  ul {
    @include bodyMd;
    color: $color-black;

    :hover,
    :focus {
      cursor: pointer;
      background-color: $color-gray-100;
      border-radius: 4px;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px;
      height: 37px;
    }

    .recent-keyword {
      color: $color-secondary-puple;

      .delete-btn {
        &:hover {
          transform: scale(1.5);
        }
      }
    }

    .recommend-keyword {
      justify-content: flex-start;
      gap: 10px;
    }
  }
}
