@use 'mixins';
@use 'variables';

.modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: absolute;
  z-index: variables.$z-index-modal;
  background: #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &-login {
    @extend .modal;
    align-items: center;
    gap: 8px;
    min-width: 235px;
    top: 100%;
    right: 0;
    animation: fade-in 0.7s forwards;

    span {
      @include mixins.flex-row;
      @include mixins.body-sm;
      gap: 3px;

      a {
        color: #074099;
      }
    }

    &::before {
      @include mixins.triangle;
      top: -12px;
      right: 20px;
    }

    .check-btn {
      width: 160px;
    }

    &__details {
      @include mixins.flex-row(flex-start, flex-start);
      gap: 3px;
      animation: fade-in 0.7s forwards;

      h2 {
        @include mixins.bold-md(variables.$color-black);
      }

      ul {
        @include mixins.body-sm;
        width: 150px;
      }

      h2,
      li {
        margin-bottom: 3px;
      }
    }
  }

  &-address {
    @extend .modal;
    @include mixins.body-sm;
    align-items: flex-end;
    gap: 26px;
    width: 320px;
    animation: fade-in 0.7s forwards;

    &::before {
      @include mixins.triangle;
      top: -12px;
      left: 20px;
    }

    &__buttons {
      @include mixins.flex-row;
      gap: 8px;
    }
  }
}

.dimmed-layer {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 104px;
  height: calc(100% - 104px);
  min-height: calc(100vh - 104px);
  z-index: variables.$z-index-cover;
  background: variables.$color-black-40;
}
