@import url("/src/style/css/reset.css");
@import url("/src/style/css/values.css");

@mixin flex-row($justify: flex-start, $align: center) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  @if $justify != flex-start {
    justify-content: $justify;
  }
}

@mixin bold-md {
  font: var(--font-bold-md);
  letter-spacing: var(--letter-spacing-bold-md);
  color: var(--color-white);
}

@mixin bold-sm {
  font: var(--font-bold-sm);
  letter-spacing: var(--letter-spacing-bold-sm);
  color: var(--color-gray-400);
}

@mixin body-md {
  font: var(--font-body-md);
  letter-spacing: var(--letter-spacing-body-md);
  color: var(--color-gray-600);
}

@mixin body-sm {
  font: var(--font-body-sm);
  letter-spacing: var(--letter-spacing-body-sm);
  color: var(--color-black);
}

.nav-bar__main {
  @include flex-row;
  padding: 8px 16px;
  gap: 24px;
  height: 56px;
  background: #10141a;

  .label {
    @include flex-row;
    @include bold-sm;
  }

  .content {
    @include bold-md;
  }

  &-search {
    @include flex-row;
    padding-left: 12px;
    gap: 12px;
    height: 40px;
    background: #ffffff;
    border-radius: 4px;
    flex-grow: 1;

    input {
      flex-grow: 1;

      &::placeholder {
        @include body-md;
      }
    }

    button {
      @include flex-row(center);
      padding: 0px;
      width: 40px;
      height: 40px;
      background: #fcb057;
      border-radius: 0px 4px 4px 0px;
    }
  }

  &-nation {
    @include flex-row;
    padding: 0;
    gap: 4px;

    img {
      width: 15px;
      height: 15px;
    }
  }

  &-login {
    position: relative;
  }

  &-cart {
    @include flex-row;
    padding: 0;
    gap: 4px;
  }
}

.nav-bar__sub {
  @include flex-row(space-between);
  padding: 0 16px;
  background: #1b232f;
  height: 32px;

  .left-menu {
    @include flex-row;

    li {
      @include flex-row;
      padding: 8px;
      gap: 4px;

      button {
        @include flex-row;
      }
    }

    .action-item {
      @include bold-md;
    }

    p {
      font: var(--font-bold-sm);
      font-size: 13px;
      color: var(--color-gray-400);
    }
  }

  .right-menu {
    @extend .left-menu;
  }
}

// 모달
.modal-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 8px;
  position: absolute;
  width: 235px;
  top: 180%;
  right: 0;
  background: #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0;

  span {
    @include flex-row;
    @include body-sm;
    gap: 3px;

    a {
      color: #074099;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: -12px;
    right: 20px;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    border-bottom: solid 20px #FFFFFF;
  }
}

.check-btn {
  @include body-sm;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  width: 160px;
  height: 32px;
  background: linear-gradient(174.6deg, #ffffff 4.31%, #fed15f 50.01%, #febe30 95.71%);
  border: 1px solid #de9408;
  border-radius: 4px;
}
