@charset "UTF-8";

@import "./common";

@import "header/navBar";
@import "header/subNavBar";
@import "header/tooltip/loginTooltip";
@import "header/tooltip/shippingAddressTooltip";
@import "header/searchBar";

@import "main/carousel";
@import "main/contents";

@import "sideBar/sideBar";

body {
  position: relative;
  z-index: -1;
  background: var(--gray100);
}
#header {
  min-width: 1120px;
}

#main {
  display: flex;
  justify-content: center;
  position: relative;
}

#backdrop {
  display: none;
  min-width: 1120px;
  width: 100%;
  height: calc(100% - 88px);
  background-color: var(--black40);
  position: absolute;
  top: 88px;
  left: 0;
  z-index: 1;
}
