// Color
$White: #ffffff;
$Gray100: #eff2f2;
$Gray200: #e5e9e9;
$Gray300: #dce0e0;
$Gray400: #d5d5d5;
$Gray500: #c1c1c1;
$Gray600: #878787;
$Gray700: #535353;
$Gray800: #2a3648;
$Gray900: #1b232f;
$Black: #10141a;
$Black40: rgba(16, 20, 26, 0.4);
$PrimaryYellow100: #fed15f;
$PrimaryYellow200: #febe30;
$PrimaryYellow300: #de9408;
$PrimaryOrange100: #fcb057;
$PrimaryOrange200: #ff9900;
$SecondaryPurple: #941387;
$SecondaryNavy: #074099;
$SecondaryGreen: #0c5e72;
